.card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px;
}

.card.disabled .card-inner .card-front {
  cursor: initial;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.card-back {
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}
