.alert {
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.info {
  color: #1a73e8;
  border-color: #1a73e8;
  background: #dce7f7;
}

.danger {
  color: red;
  border-color: red;
  background: rgb(255, 243, 243);
}

.success {
  color: green;
  border-color: green;
  background: rgb(217, 238, 217);
}
